<template>
  <div id="updatePhoto">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Update Photo Profile</h5>
              </div>

              <div class="card-body">
                <form
                  @submit.prevent="handleSubmit"
                  enctype="multipart/form-data"
                >
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="file" class="label">Upload File</label>
                        <input type="file" @change="onFileSelected" />
                      </div>
                      <input type="hidden" v-model="person.idPerson" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updatePhoto",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      selectedFile: null,
      person: {
        idPerson: "",
      },
    };
  },

  created() {
    this.mounted();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      try {
        const idPerson = this.$route.params.id;
        const response = await axios.get(`person/${idPerson}`);
        this.person = response.data.values[0];
        console.log("data", this.person);
      } catch (err) {
        console.log(err);
      }
    },

    onFileSelected(event) {
      this.selectedFile = event.target.files[0];
      console.log(event);
    },

    async handleSubmit() {
      try {
        const idPerson = this.person.idPerson;
        let img = this.selectedFile;
        let photo = new FormData();
        photo.append("photo", img, img.name);

        await axios.patch(`person/upload/${idPerson}`, photo);

        // console.log("data id", idPerson);
        // console.log("data Photo", photo);
        // console.log("data img", img);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/person/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>