<template>
  <div id="updatePerson">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Update Data Person</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Full name.."
                          required
                          v-model="person.namePerson"
                        />
                      </div>
                      <div class="form-group">
                        <label>Place of Birth</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Place of Birth.."
                          required
                          v-model="person.birthPlace"
                        />
                      </div>
                      <div class="form-group">
                        <label>Date of Birth </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="date"
                            format="DD-MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="Date of Birth.."
                            required
                            v-model="person.birthDate"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Religion</label>
                        <select class="form-control" v-model="person.religion">
                          <option disabled value="">Please select one</option>
                          <option>Islam</option>
                          <option>Protestan</option>
                          <option>Katolik</option>
                          <option>Konghucu</option>
                          <option>Hindu</option>
                          <option>Budha</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Gendre</label>
                        <select class="form-control" v-model="person.gendre">
                          <option disabled value="">Please select one</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Health</label>
                        <select class="form-control" v-model="person.health">
                          <option disabled value="">Please select one</option>
                          <option>Bad</option>
                          <option>Good</option>
                        </select>
                      </div>

                      <input type="hidden" v-model="person.idperson" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <Person />
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";

export default {
  name: "updatePerson",
  components: {
    Navbar,
    Sidebar,
    Footer,
    DatePicker,
  },
  data() {
    return {
      person: {
        idPerson: "",
        namePerson: "",
        birthPlace: "",
        birthDate: "",
        religion: "",
        gendre: "",
        health: "",
      },
    };
  },

  created() {
    this.mounted();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      try {
        const idPerson = this.$route.params.id;
        const response = await axios.get(`person/${idPerson}`);
        this.person = response.data.values[0];
        console.log("data", this.person);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idPerson = this.person.idPerson;
        const response = await axios.patch(`person/update/${idPerson}`, {
          namePerson: this.person.namePerson,
          birthDate: this.person.birthDate,
          birthPlace: this.person.birthPlace,
          gendre: this.person.gendre,
          health: this.person.health,
          religion: this.person.religion,
        });
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/person/view");
      } catch (err) {
        console.log(err);
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>
<style lang="stylus" scoped></style>