<template>
  <div id="addObjective">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Objective</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Description</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Description.."
                          required
                          v-model="objective.descObjective"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="hidden"
                          class="form-control"
                          placeholder="Description.."
                          v-model="objective.idPerson"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "addObjective",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      objective: {
        descObjective: "",
        idPerson: "",
      },
    };
  },

  created() {
    this.handleSubmit();
    this.mounted();
  },

  methods: {
    async mounted() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      this.objective.idPerson = idPerson;
      // console.log("id", this.objective.idPerson);
    },

    async handleSubmit() {
      try {
        const response = await axios.post("objective/add", {
          idPerson: this.objective.idPerson,
          descObjective: this.objective.descObjective,
        });
        console.log(response);
        (this.descObjective = ""), (this.idPerson = "");
        this.$swal("Succes", "Data Added", "OK");
        this.$router.push("/objective/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>