<template>
  <div id="updateObjective">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Update Objective</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Description</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Description.."
                          required
                          v-model="objective.descObjective"
                        />
                      </div>
                      <input type="hidden" v-model="objective.idObjective" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updateObjective",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      objective: {
        descObjective: "",
        idObjective: "",
      },
    };
  },

  created() {
    this.mounted();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      try {
        const idObjective = this.$route.params.id;
        const response = await axios.get(
          `objective/idObjective/${idObjective}`
        );
        this.objective = response.data.values[0];
        console.log("data", this.objective);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idObjective = this.objective.idObjective;
        const response = await axios.patch(`objective/update/${idObjective}`, {
          descObjective: this.objective.descObjective,
        });
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/objective/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>