<template>
  <div id="viewObjective">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">OBJECTIVE</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addObjective' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>
                <table class="table">
                  <tbody>
                    <tr v-for="item in itemsObjective" :key="item.idObjective">
                      <td>{{ item.descObjective }}</td>
                      <td class="text-center">
                        <router-link
                          :to="{
                            name: 'updateObjective',
                            params: { id: item.idObjective },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteObjective(item.idObjective)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewObjective",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsObjective: [],
    };
  },

  created() {
    this.viewObjective();
  },

  methods: {
    // Data objective
    // Get objective
    async viewObjective() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`objective/${idPerson}`);
        this.itemsObjective = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Objective
    async deleteObjective(idObjective) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`objective/delete/${idObjective}`);
          // console.log(this.idObjective);
          this.viewObjective();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>