<template>
  <div id="addCompanyRole">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Language Skill -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Company Role</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Role</label>
                        <select
                          class="form-control"
                          v-model="companyRole.idRole"
                        >
                          <option
                            v-for="item in itemsRole"
                            :key="item.idRole"
                            :value="item.idRole"
                          >
                            {{ item.nameRole }}
                          </option>
                        </select>
                      </div>
                      <input type="hidden" v-model="companyRole.idCompany" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "addCompanyRole",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      companyRole: {
        idRole: "",
        idCompany: "",
      },
      itemsRole: [],
    };
  },

  created() {
    this.mounted();
    this.viewRole();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      const idCompany = this.$route.params.id;
      this.companyRole.idCompany = idCompany;
      console.log("id", idCompany);
    },

    async viewRole() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`role/${idPerson}`);
        this.itemsRole = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        console.log("idcomp", this.companyRole.idCompany);
        console.log("idRole", this.companyRole.idRole);
        const response = await axios.post("company-role/add", {
          idCompany: this.companyRole.idCompany,
          idRole: this.companyRole.idRole,
        });
        console.log(response);
        this.$swal("Success", "Data Added", "OK");
        this.$router.push("/company/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>