<template>
  <div id="viewCompanyRole">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Role -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Company Role</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addCompanyRole' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>
                <table class="table">
                  <thead class="text-primary">
                    <th>Role</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr v-for="item in itemsCompanyRole" :key="item.idRole">
                      <td>{{ item.Role.nameRole }}</td>
                      <td>
                        <!-- <router-link
                          :to="{
                            name: 'updateRole',
                            params: { id: item.idCompanyRole },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link> -->
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteCompanyRole(item.idCompanyRole)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
// import jwt_decode from "jwt-decode";
import Navbar from "../layout/Navbar.vue";
import Sidebar from "../layout/Sidebar.vue";
import Footer from "../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewRoleCompany",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      idCompany: "",
      itemsCompanyRole: [],
    };
  },

  created() {
    this.viewCompanyRole();
  },

  methods: {
    // Data Role
    // Get Role
    async viewCompanyRole() {
      const idCompany = this.$route.params.id;
      try {
        const response = await axios.get(`company-role/${idCompany}`);
        this.itemsCompanyRole = response.data.values;
        console.log("Items Roles", response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Role
    async deleteCompanyRole(idCompanyRole) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`company-role/delete/${idCompanyRole}`);
          // console.log(this.idCompanyRole);
          this.viewCompanyRole();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>