<template>
  <div id="updateRole">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Role -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Update Role</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Name.."
                          required
                          v-model="role.nameRole"
                        />
                      </div>

                      <div class="form-group">
                        <label>Description</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Description.."
                          required
                          v-model="role.descRole"
                        />
                      </div>
                      <input type="hidden" v-model="role.idRole" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updateRole",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      role: {
        nameRole: "",
        descRole: "",
        idRole: "",
      },
    };
  },

  created() {
    this.mounted();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      try {
        const idRole = this.$route.params.id;
        const response = await axios.get(`role/idRole/${idRole}`);
        this.role = response.data.values[0];
        console.log("data", this.role);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idRole = this.role.idRole;
        const response = await axios.patch(`role/update/${idRole}`, {
          nameRole: this.role.nameRole,
          descRole: this.role.descRole,
        });
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/Role/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>