<template>
  <div id="viewRole">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Role -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Role</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addRole' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>
                <table class="table">
                  <thead class="text-primary">
                    <th>No</th>
                    <th>Role</th>
                    <th>Description</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr v-for="(item, no) in itemsRole" :key="item.idRole">
                      <td>{{ no + 1 }}</td>
                      <td>{{ item.nameRole }}</td>
                      <td>{{ item.descRole }}</td>
                      <td>
                        <router-link
                          :to="{
                            name: 'updateRole',
                            params: { id: item.idRole },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteRole(item.idRole)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewRole",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsRole: [],
    };
  },

  created() {
    this.viewRole();
  },

  methods: {
    // Data Role
    // Get Role
    async viewRole() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`role/${idPerson}`);
        this.itemsRole = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Role
    async deleteRole(idRole) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`role/delete/${idRole}`);
          // await axios.delete(`project-role/delete/${idRole}`);
          // await axios.delete(`company-role/delete/${idRole}`);
          // console.log(this.idRole);
          this.viewRole();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>