<template>
  <div id="addCompany">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Profile -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Company</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Name.."
                          required
                          v-model="company.nameCompany"
                        />
                      </div>
                      <div class="form-group">
                        <label>Status</label>
                        <select
                          class="form-control"
                          required
                          v-model="company.statusEmployee"
                        >
                          <option disabled value="">Please select one</option>
                          <option>Full Time Employee</option>
                          <option>Outsource Employee</option>
                          <option>Part Time Employee</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Address</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Address.."
                          v-model="company.addressCompany"
                        />
                      </div>
                      <div class="form-group">
                        <label>Contact</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Contact.."
                          v-model="company.contactCompany"
                        />
                      </div>

                      <div class="form-group">
                        <label>From </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="From.."
                            required
                            v-model="company.priodFrom"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>To </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            placeholder="To.."
                            required
                            v-model="company.priodTo"
                          ></date-picker>
                        </div>
                      </div>

                      <div class="form-group">
                        <input
                          type="hidden"
                          class="form-control"
                          v-model="company.idPerson"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "addCompany",
  components: {
    Navbar,
    Sidebar,
    Footer,
    DatePicker,
    // Person,
  },
  data() {
    return {
      company: {
        idPerson: "",
        nameCompany: "",
        statusEmployee: "",
        addressCompany: "",
        contactCompany: "",
        priodFrom: "",
        priodTo: "",
      },
    };
  },

  created() {
    this.handleSubmit();
    this.mounted();
  },

  methods: {
    async mounted() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      this.company.idPerson = idPerson;
      // console.log("id", this.Company.idPerson);
    },

    async handleSubmit() {
      try {
        const response = await axios.post("company/add", {
          idPerson: this.company.idPerson,
          nameCompany: this.company.nameCompany,
          statusEmployee: this.company.statusEmployee,
          addressCompany: this.company.addressCompany,
          contactCompany: this.company.contactCompany,
          priodFrom: this.company.priodFrom,
          priodTo: this.company.priodTo,
        });
        console.log(response);
        (this.idPerson = ""),
          (this.nameCompany = ""),
          (this.statusEmployee = ""),
          (this.addressCompany = ""),
          (this.contactCompany = ""),
          (this.priodFrom = ""),
          (this.priodTo = ""),
          this.$swal("Success", "Data Added", "OK");
        this.$router.push("/Company/view");
      } catch (err) {
        console.log(err);
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>
<style lang="stylus" scoped></style>