<template>
  <div id="updateCompany">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Profile -->
            <div class="card">
              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Name.."
                          required
                          v-model="company.nameCompany"
                        />
                      </div>
                      <div class="form-group">
                        <label>Status</label>
                        <select
                          class="form-control"
                          required
                          v-model="company.statusEmployee"
                        >
                          <option disabled value="">Please select one</option>
                          <option>Full Time Employee</option>
                          <option>Outsource Employee</option>
                          <option>Part Time Employee</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Address</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Address.."
                          v-model="company.addressCompany"
                        />
                      </div>
                      <div class="form-group">
                        <label>Contact</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Contact.."
                          v-model="company.contactCompany"
                        />
                      </div>
                      <div class="form-group">
                        <label>From </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="From.."
                            required
                            v-model="company.priodFrom"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>To </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            placeholder="To.."
                            required
                            v-model="company.priodTo"
                          ></date-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updateCompany",
  components: {
    Navbar,
    Sidebar,
    Footer,
    DatePicker,
    // Person,
  },
  data() {
    return {
      company: {
        idCompany: "",
        nameCompany: "",
        statusEmployee: "",
        addressCompany: "",
        contactCompany: "",
        priodFrom: "",
        priodTo: "",
      },
    };
  },

  created() {
    this.handleSubmit();
    this.mounted();
  },

  methods: {
    async mounted() {
      try {
        const idCompany = this.$route.params.id;
        const response = await axios.get(`company/idCompany/${idCompany}`);
        this.company = response.data.values[0];
        console.log("data comapny", this.company);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idCompany = this.company.idCompany;
        const response = await axios.patch(`company/update/${idCompany}`, {
          nameCompany: this.company.nameCompany,
          statusEmployee: this.company.statusEmployee,
          addressCompany: this.company.addressCompany,
          contactCompany: this.company.contactCompany,
          priodFrom: this.company.priodFrom,
          priodTo: this.company.priodTo,
        });
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/company/view");
      } catch (err) {
        console.log(err);
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>
<style lang="stylus" scoped></style>