<template>
  <div id="viewCompany">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Company -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">COMPANY</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addCompany' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>

                <table class="table">
                  <thead class="text-primary">
                    <th>No</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Priod From</th>
                    <th>Priod To</th>
                    <th colspan="2">Current Role</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, no) in itemsCompany"
                      :key="item.idCompany"
                    >
                      <td>{{ no + 1 }}</td>
                      <td>{{ item.nameCompany }}</td>
                      <td>{{ item.statusEmployee }}</td>
                      <td>{{ item.addressCompany }}</td>
                      <td>{{ item.contactCompany }}</td>
                      <td>{{ item.priodFrom | moment("MMMM YYYY") }}</td>
                      <td
                        v-if="
                          item.priodTo === '0000-00-00' || item.priodTo == NULL
                        "
                      >
                        Present
                      </td>
                      <td v-else>{{ item.priodTo | moment("MMMM YYYY") }}</td>
                      <td>
                        <div
                          v-for="role in item.CompanyRoles"
                          :key="role.idRole"
                        >
                          {{ role.Role.nameRole }},
                        </div>
                      </td>
                      <td>
                        <router-link
                          :to="{
                            name: 'viewCompanyRole',
                            params: { id: item.idCompany },
                          }"
                          class="btn btn-success btn-sm mr-3"
                          ><i class="fas fa-plus"> Role</i></router-link
                        >
                      </td>
                      <td>
                        <router-link
                          :to="{
                            name: 'updateCompany',
                            params: { id: item.idCompany },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteCompany(item.idCompany)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewCompany",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsCompany: [],
    };
  },

  created() {
    this.viewCompany();
  },

  methods: {
    // get Company
    async viewCompany() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`company/nested/${idPerson}`);
        this.itemsCompany = response.data.values;
        // console.log("company", response.data.values[0].CompanyRoles);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Company
    async deleteCompany(idCompany) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`company/delete/${idCompany}`);
          // console.log(this.idCompany);
          this.viewCompany();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>