<template>
  <div id="updateCourse">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Profile -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Course</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Title</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Title.."
                          required
                          v-model="course.titleCourse"
                        />
                      </div>
                      <div class="form-group">
                        <label>Provider</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Provider.."
                          required
                          v-model="course.providerCourse"
                        />
                      </div>
                      <div class="form-group">
                        <label>Place</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Place.."
                          required
                          v-model="course.placeCourse"
                        />
                      </div>
                      <div class="form-group">
                        <label>Date </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="date"
                            format="DD-MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="From.."
                            required
                            v-model="course.dateCourse"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Duration (Days)</label>
                        <input
                          type="number"
                          class="form-control"
                          min="1"
                          placeholder="Duration.."
                          required
                          v-model="course.durationCourse"
                        />
                      </div>
                      <div class="form-group">
                        <label>Certificate</label>
                        <select
                          class="form-control"
                          required
                          v-model="course.certificateCourse"
                        >
                          <option disabled value="">Please select one</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updateCourse",
  components: {
    Navbar,
    Sidebar,
    Footer,
    DatePicker,
    // Person,
  },
  data() {
    return {
      course: {
        idCourse: "",
        titleCourse: "",
        providerCourse: "",
        placeCourse: "",
        dateCourse: "",
        durationCourse: "",
        certificateCourse: "",
      },
    };
  },

  created() {
    this.handleSubmit();
    this.mounted();
  },

  methods: {
    async mounted() {
      try {
        const idCourse = this.$route.params.id;
        const response = await axios.get(`course/idCourse/${idCourse}`);
        this.course = response.data.values[0];
        console.log("data", this.course);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idCourse = this.course.idCourse;
        const response = await axios.patch(`course/update/${idCourse}`, {
          titleCourse: this.course.titleCourse,
          providerCourse: this.course.providerCourse,
          placeCourse: this.course.placeCourse,
          dateCourse: this.course.dateCourse,
          durationCourse: this.course.durationCourse,
          certificateCourse: this.course.certificateCourse,
        });
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/course/view");
      } catch (err) {
        console.log(err);
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>
<style lang="stylus" scoped></style>