<template>
  <div id="viewCourse">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Course -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">COURSE,TRAINING</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addCourse' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>

                <table class="table">
                  <thead class="text-primary">
                    <th>No</th>
                    <th>Title</th>
                    <th>Provider</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Certificate</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr v-for="(item, no) in itemsCourse" :key="item.idCourse">
                      <td>{{ no + 1 }}</td>
                      <td>{{ item.titleCourse }}</td>
                      <td>{{ item.providerCourse }}</td>
                      <td>{{ item.placeCourse }}</td>
                      <td>{{ item.dateCourse | moment("DD MMMM YYYY") }}</td>
                      <td>{{ item.durationCourse }} Days</td>
                      <td>{{ item.certificateCourse }}</td>
                      <td>
                        <router-link
                          :to="{
                            name: 'updateCourse',
                            params: { id: item.idCourse },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteCourse(item.idCourse)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewCourse",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsCourse: [],
    };
  },

  created() {
    this.viewCourse();
  },

  methods: {
    // get Course
    async viewCourse() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`course/${idPerson}`);
        this.itemsCourse = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Course
    async deleteCourse(idCourse) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`course/delete/${idCourse}`);
          // console.log(this.idCourse);
          this.viewCourse();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>