<template>
  <div id="addLanguageSkill">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Language Skill -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Language Skill</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="hidden"
                          class="form-control"
                          placeholder="language.."
                          v-model="languageSkill.idPerson"
                        />
                      </div>

                      <div class="form-group">
                        <label>Language</label>
                        <select
                          class="form-control"
                          v-model="languageSkill.language"
                        >
                          <option disabled value="">Please select one</option>
                          <option>English</option>
                          <option>Indonesia</option>
                          <option>Japan</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Level</label>
                        <select
                          class="form-control"
                          v-model="languageSkill.level"
                        >
                          <option disabled value="">Please select one</option>
                          <option>Bad</option>
                          <option>Medium</option>
                          <option>Good</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "addLanguageSkill",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      languageSkill: {
        idPerson: "",
        language: "",
        level: "",
      },
    };
  },

  created() {
    this.handleSubmit();
    this.mounted();
  },

  methods: {
    async mounted() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      this.languageSkill.idPerson = idPerson;
      // console.log("id", this.profile.idPerson);
    },

    async handleSubmit() {
      try {
        const response = await axios.post(
          "http://localhost:3000/api/language-skill/add",
          {
            idPerson: this.languageSkill.idPerson,
            language: this.languageSkill.language,
            level: this.languageSkill.level,
          }
        );
        console.log(response);
        (this.language = ""), (this.idPerson = ""), (this.level = "");
        this.$swal("Success", "Data Added", "OK");
        this.$router.push("/languageskill/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>