<template>
  <div id="updateLanguageSkill">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Update Language Skill</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="hidden"
                          class="form-control"
                          placeholder="language.."
                          v-model="languageSkill.idPerson"
                        />
                      </div>

                      <div class="form-group">
                        <label>Language</label>
                        <select
                          class="form-control"
                          v-model="languageSkill.language"
                        >
                          <option disabled value="">Please select one</option>
                          <option>English</option>
                          <option>Indonesia</option>
                          <option>Japan</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Level</label>
                        <select
                          class="form-control"
                          v-model="languageSkill.level"
                        >
                          <option disabled value="">Please select one</option>
                          <option>Bad</option>
                          <option>Medium</option>
                          <option>Good</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updateLanguageSkill",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      languageSkill: {
        idLanguageSkill: "",
        language: "",
        level: "",
      },
    };
  },

  created() {
    this.mounted();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      try {
        const idLanguageSkill = this.$route.params.id;
        const response = await axios.get(
          `language-skill/idLanguageSkill/${idLanguageSkill}`
        );
        this.languageSkill = response.data.values[0];
        console.log("data", this.languageSkill);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idLanguageSkill = this.languageSkill.idLanguageSkill;
        const response = await axios.patch(
          `language-skill/update/${idLanguageSkill}`,
          {
            language: this.languageSkill.language,
            level: this.languageSkill.level,
          }
        );
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/languageSkill/view");
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>