<template>
  <div id="viewLanguageSkill">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data LanguageSkill -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">LanguageSkill</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addLanguageSkill' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>
                <h5 class="card-title float-left">
                  <router-link
                    :to="{ name: 'viewPerson' }"
                    class="float-right btn btn-dark btn-sm"
                    ><i class="fas fa-arrow-left"></i
                  ></router-link>
                </h5>
                <table class="table">
                  <thead>
                    <tr>
                      <td colspan="3" class="text-center">
                        <b>Language Skill</b>
                      </td>
                      <td><b>Action</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in itemsLanguageSkill"
                      :key="item.idLanguage"
                    >
                      <td>{{ item.language }}</td>
                      <td>:</td>
                      <td>{{ item.level }}</td>
                      <td>
                        <router-link
                          :to="{
                            name: 'updateLanguageSkill',
                            params: { id: item.idLanguageSkill },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteLanguageSkill(item.idLanguageSkill)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewLanguageSkill",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsLanguageSkill: [],
    };
  },

  created() {
    this.viewLanguageSkill();
  },

  methods: {
    // get LanguageSkill
    async viewLanguageSkill() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`language-skill/${idPerson}`);
        this.itemsLanguageSkill = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete LanguageSkill
    async deleteLanguageSkill(idLanguageSkill) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`language-skill/delete/${idLanguageSkill}`);
          // console.log(this.idLanguageSkill);
          this.viewLanguageSkill();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>