<template>
  <div id="updateEducation">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Update Education</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>School</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="School.."
                          v-model="education.school"
                        />
                      </div>
                      <div class="form-group">
                        <label>Degree</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Degree.."
                          required
                          v-model="education.degree"
                        />
                      </div>
                      <div class="form-group">
                        <label>Subject</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Subject.."
                          required
                          v-model="education.subject"
                        />
                      </div>
                      <div class="form-group">
                        <label>From </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="year"
                            format="YYYY"
                            :disabled-date="disabledDate"
                            placeholder="From.."
                            required
                            v-model="education.priodFrom"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>To </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="year"
                            format="YYYY"
                            placeholder="To.."
                            required
                            v-model="education.priodTo"
                          ></date-picker>
                        </div>
                      </div>
                      <input type="hidden" v-model="education.idEducation" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "updateEducation",
  components: {
    Navbar,
    Sidebar,
    Footer,
    DatePicker,
    // Person,
  },
  data() {
    return {
      education: {
        idEducation: "",
        school: "",
        degree: "",
        subject: "",
        priodFrom: "",
        priodTo: "",
      },
    };
  },

  created() {
    this.mounted();
    this.handleSubmit();
  },

  methods: {
    async mounted() {
      try {
        const idEducation = this.$route.params.id;
        const response = await axios.get(
          `education/idEducation/${idEducation}`
        );
        this.education = response.data.values[0];
        console.log("data", this.education);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const idEducation = this.education.idEducation;
        const response = await axios.patch(`education/update/${idEducation}`, {
          school: this.education.school,
          degree: this.education.degree,
          subject: this.education.subject,
          priodFrom: this.education.priodFrom,
          priodTo: this.education.priodTo,
        });
        console.log("data", response);
        this.$swal("Success", "Updated Data", "OK");
        this.$router.push("/education/view");
      } catch (err) {
        console.log(err);
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>
<style lang="stylus" scoped></style>