<template>
  <div id="viewEducation">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Educations -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">EDUCATION</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addEducation' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>

                <table class="table">
                  <thead class="text-primary">
                    <th>No</th>
                    <th>School</th>
                    <th>Degree</th>
                    <th>Subject</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, no) in itemsEducation"
                      :key="item.idEducation"
                    >
                      <td>{{ no + 1 }}</td>
                      <td>{{ item.school }}</td>
                      <td>{{ item.degree }}</td>
                      <td>{{ item.subject }}</td>
                      <td>{{ item.priodFrom | moment("YYYY") }}</td>
                      <td
                        v-if="
                          item.priodTo === '0000-00-00' || item.priodTo == NULL
                        "
                      >
                        Present
                      </td>
                      <td v-else>{{ item.priodTo | moment("YYYY") }}</td>
                      <td>
                        <router-link
                          :to="{
                            name: 'updateEducation',
                            params: { id: item.idEducation },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteEducation(item.idEducation)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewEducation",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsEducation: [],
    };
  },

  created() {
    this.viewEducation();
  },

  methods: {
    // get Education
    async viewEducation() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`education/${idPerson}`);
        this.itemsEducation = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Education
    async deleteEducation(idEducation) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`education/delete/${idEducation}`);
          // console.log(this.idEducation);
          this.viewEducation();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>