<template>
  <div id="addProjectPeriode">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Language Skill -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Project Periode</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Project</label>
                        <select
                          class="form-control"
                          v-model="projectPeriode.idProject"
                        >
                          <option
                            v-for="item in itemsProject"
                            :key="item.idProject"
                            :value="item.idProject"
                          >
                            {{ item.nameProject }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Priod From </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="Priod From.."
                            required
                            v-model="projectPeriode.priodFrom"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Priod To </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            placeholder="Priod To.."
                            required
                            v-model="projectPeriode.priodTo"
                          ></date-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "addProjectPeriode",
  components: {
    Navbar,
    Sidebar,
    Footer,
    DatePicker,
    // Person,
  },
  data() {
    return {
      projectPeriode: {
        idProject: "",
        priodFrom: "",
        priodTo: "",
      },
      itemsProject: [],
    };
  },

  created() {
    this.viewProject();
    this.handleSubmit();
  },

  methods: {
    async viewProject() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`project/${idPerson}`);
        this.itemsProject = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    async handleSubmit() {
      try {
        const response = await axios.post("project-periode/add", {
          idProject: this.projectPeriode.idProject,
          priodFrom: this.projectPeriode.priodFrom,
          priodTo: this.projectPeriode.priodTo,
        });
        console.log(response);
        this.$swal("Success", "Data Added", "OK");
        this.$router.push(`/projectperiode/view`);
      } catch (err) {
        console.log(err);
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>
<style lang="stylus" scoped></style>