<template>
  <div id="viewProjectPeriode">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Role -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Project Periode</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addProjectPeriode' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>
                <table
                  class="table"
                  border="1"
                  v-for="item in itemsProjectPeriode"
                  :key="item.idProjectPeriode"
                >
                  <tbody>
                    <tr>
                      <td><b>Project Name</b></td>
                      <td colspan="3">{{ item.Project.nameProject }}</td>
                    </tr>
                    <tr>
                      <td><b>Role</b></td>
                      <td colspan="3">
                        <div
                          v-for="role in item.Project.ProjectRoles"
                          :key="role.idRole"
                        >
                          {{ role.Role.nameRole }},
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Priod</b></td>
                      <td colspan="2">
                        <b>From :</b> {{ item.priodFrom | moment("MMMM YYYY") }}
                      </td>
                      <td
                        v-if="
                          item.priodTo === '0000-00-00' || item.priodTo == NULL
                        "
                      >
                        <b>To :</b> Current
                      </td>
                      <td v-else>
                        <b>To :</b> {{ item.priodTo | moment("MMMM YYYY") }}
                      </td>
                    </tr>
                    <tr>
                      <td><b>Customer</b></td>
                      <td colspan="3">{{ item.Project.customer }}</td>
                    </tr>
                    <tr>
                      <td><b>Project Desc</b></td>
                      <td colspan="3">{{ item.Project.descProject }}</td>
                    </tr>
                    <tr>
                      <td><b>Technical Info</b></td>
                      <td colspan="3">{{ item.Project.technicalInfo }}</td>
                    </tr>
                    <tr>
                      <td><b>App Type</b></td>
                      <td>{{ item.Project.appType }}</td>
                      <td><b>Dev Language</b></td>
                      <td>{{ item.Project.devLanguage }}</td>
                    </tr>
                    <tr>
                      <td><b>Server OS</b></td>
                      <td>{{ item.Project.serverOs }}</td>
                      <td><b>Framework</b></td>
                      <td>{{ item.Project.framework }}</td>
                    </tr>
                    <tr>
                      <td><b>DB</b></td>
                      <td>{{ item.Project.database }}</td>
                      <td><b>Dev Tools</b></td>
                      <td>{{ item.Project.devTool }}</td>
                    </tr>
                    <tr>
                      <td><b>App Server</b></td>
                      <td>{{ item.Project.appServer }}</td>
                      <td><b>Other Info</b></td>
                      <td>{{ item.Project.otherInfo }}</td>
                    </tr>
                    <tr>
                      <td colspan="4">
                        <router-link
                          :to="{
                            name: 'updateProjectPeriode',
                            params: { id: item.idProjectPeriode },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteProjectPeriode(item.idProjectPeriode)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "../layout/Navbar.vue";
import Sidebar from "../layout/Sidebar.vue";
import Footer from "../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewProjectPeriode",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsProjectPeriode: [],
    };
  },

  created() {
    this.viewProjectPeriode();
  },

  methods: {
    // Data Role
    // Get Role
    async viewProjectPeriode() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`project-periode/${idPerson}`);
        this.itemsProjectPeriode = response.data.values;
        console.log("Project Periode ", response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Role
    async deleteProjectPeriode(idProjectPeriode) {
      try {
        console.log(idProjectPeriode);
        if (confirm("Are you sure ?")) {
          await axios.delete(`project-periode/delete/${idProjectPeriode}`);
          // console.log(this.idRole);
          this.viewProjectPeriode();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>