<template>
  <div id="viewProjectPeriode">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Role -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Project Periode</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addProjectPeriode' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>
                <table class="table">
                  <thead class="text-primary">
                    <th>Name Project</th>
                    <th>Periode From</th>
                    <th>Periode To</th>
                    <!-- <th>CreatedAt</th> -->
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in itemsProjectPeriode"
                      :key="item.idProjectPeriode"
                    >
                      <td>{{ item.Project.nameProject }}</td>
                      <td>
                        {{ item.priodFrom | moment("MMMM YYYY") }}
                      </td>
                      <td
                        v-if="
                          item.priodTo === '0000-00-00' || item.priodTo == NULL
                        "
                      >
                        Current
                      </td>
                      <td v-else>
                        {{ item.priodTo | moment("MMMM YYYY") }}
                      </td>
                      <!-- <td>
                        {{ item.createdAt }}
                      </td> -->
                      <td>
                        <router-link
                          :to="{
                            name: 'updateProjectPeriode',
                            params: { id: item.idProjectPeriode },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteProjectPeriode(item.idProjectPeriode)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "../layout/Navbar.vue";
import Sidebar from "../layout/Sidebar.vue";
import Footer from "../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewProjectPeriode",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsProjectPeriode: [],
    };
  },

  created() {
    this.viewProjectPeriode();
  },

  methods: {
    // Data Role
    // Get Role
    async viewProjectPeriode() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`project-periode/${idPerson}`);
        this.itemsProjectPeriode = response.data.values;
        console.log("Project Periode ", response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Role
    async deleteProjectPeriode(idProjectPeriode) {
      try {
        console.log(idProjectPeriode);
        if (confirm("Are you sure ?")) {
          await axios.delete(`project-periode/delete/${idProjectPeriode}`);
          // console.log(this.idRole);
          this.viewProjectPeriode();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>