<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
          <li>
            <a>
              Copyright &copy; Andhika Budi Prasetyo - 2021. All rights
              reserved.
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>