<template>
  <div class="col-md-4" id="viewPerson">
    <div class="card card-user">
      <div class="image">
        <img :src="require('@/assets/bg5.jpg')" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img
              v-if="itemsPerson.photoPerson == NULL"
              class="avatar border-gray"
              :src="require('@/assets/default.jpg')"
            />
            <img
              v-else
              class="avatar border-gray"
              :src="itemsPerson.photoPerson"
            />
          </a>
        </div>

        <button
          class="float-right btn btn-info btn-sm"
          @click="generateDocx(itemsPerson.idPerson)"
        >
          <i class="fas fa-file-download"></i> Download File CV
        </button>

        <div>
          <table class="table">
            <tbody>
              <tr>
                <td>Name</td>
                <td>:</td>
                <td>{{ itemsPerson.namePerson }}</td>
              </tr>
              <tr>
                <td>Place of Birth</td>
                <td>:</td>
                <td>{{ itemsPerson.birthPlace }}</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>
                  {{ itemsPerson.birthDate | moment("DD MMMM YYYY") }}
                </td>
              </tr>
              <tr>
                <td>Religion</td>
                <td>:</td>
                <td>{{ itemsPerson.religion }}</td>
              </tr>
              <tr>
                <td>Gendre</td>
                <td>:</td>
                <td>{{ itemsPerson.gendre }}</td>
              </tr>
              <tr>
                <td>Health</td>
                <td>:</td>
                <td>{{ itemsPerson.health }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <td colspan="3"><b>Language Skill</b></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in itemsLanguageSkill" :key="item.idLanguage">
                <td>{{ item.language }}</td>
                <td>:</td>
                <td>{{ item.level }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />
        <!-- </div> -->
      </div>
      <hr />
      <div class="button-container">
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-twitter"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-google-plus-g"></i>
        </button>
      </div>
    </div>
  </div>
</template>


<script>
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "home",
  data() {
    return {
      itemsPerson: [],
      itemsLanguageSkill: [],
    };
  },

  created() {
    this.viewPerson();
    this.viewLanguageSkill();
  },

  methods: {
    // Get Person
    async viewPerson() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let id = decoded.idPerson;
      try {
        const response = await axios.get(`person/${id}`);
        this.itemsPerson = response.data.values[0];
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Get language
    async viewLanguageSkill() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`language-skill/${idPerson}`);
        this.itemsLanguageSkill = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Download CV
    generateDocx(idPerson) {
      if (confirm("Are you sure download this file ?")) {
        // const idPerson = this.itemsPerson.idPerson;
        axios({
          url: `generatedocx/${idPerson}`,
          method: "GET",
          responseType: "blob", // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", "My Curriculum Vitae.docx");
          document.body.appendChild(link);
          link.click();
        });
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>

