.<template>
  <div class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
      <!-- <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        DK
      </a> -->
      <router-link to="/home" class="simple-text logo-normal">
        <b>Aplikasi CV</b>
      </router-link>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li>
          <router-link :to="{ name: 'home' }">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </router-link>
        </li>
        <!-- master -->
        <ul class="nav">
          <!-- <i class="fas fa-database"></i>
          <p>Data Master</p> -->
          <li>
            <router-link :to="{ name: 'viewRole' }">
              <i class="fas fa-user-tag"></i>
              <p>Data Master Role</p>
            </router-link>
          </li>
          <li>
            <router-link :to="{ name: 'viewProject' }">
              <i class="fas fa-project-diagram"></i>
              <p>Data Master Project</p>
            </router-link>
          </li>
        </ul>
        <!-- master -->
        <li>
          <router-link :to="{ name: 'viewPerson' }">
            <i class="fas fa-user-alt"></i>
            <p>Data Personal</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'viewObjective' }">
            <i class="fas fa-user-cog"></i>
            <p>Data Objective</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'viewProfile' }">
            <i class="fas fa-address-card"></i>
            <p>Data Profile</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'viewEducation' }">
            <i class="fas fa-graduation-cap"></i>
            <p>Data Education</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'viewCourse' }">
            <i class="fas fa-laptop-code"></i>
            <p>Data Course and Training</p>
          </router-link>
        </li>

        <li>
          <router-link :to="{ name: 'viewCompany' }">
            <i class="fas fa-building"></i>
            <p>Data Company</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'viewProjectPeriode' }">
            <i class="fas fa-project-diagram"></i>
            <p>Data Project Periode</p>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  created() {},
  method: {},
};
</script>

<style>
</style>