.<template>
  <div id="register">
    <div class="container-fluid">
      <div class="content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 contents">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="form-block">
                    <div class="mb-4">
                      <h3>Sign Up</h3>
                    </div>

                    <form @submit.prevent="handleSubmit">
                      <div class="form-group first">
                        <label for="nameGendre">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Full Name.."
                          required
                          v-model="namePerson"
                        />
                      </div>
                      <div class="form-group first">
                        <label for="email">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Email.."
                          required
                          v-model="email"
                        />
                      </div>

                      <div class="form-group last mb-4">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Password.."
                          required
                          v-model="password"
                        />
                      </div>
                      <div class="form-group last mb-4">
                        <label for="password">confirmation Password</label>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Confirmation Password.."
                          required
                          v-model="confrm_password"
                        />
                      </div>

                      <div class="form-group">
                        <label>Place of Birth</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Place of Birth.."
                          required
                          v-model="birthPlace"
                        />
                      </div>
                      <div class="form-group">
                        <label>Date of Birth </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="date"
                            format="DD-MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="Date of Birth.."
                            required
                            v-model="birthDate"
                          ></date-picker>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Religion</label>
                        <select class="form-control" v-model="religion">
                          <option disabled value="">Please select one</option>
                          <option>Islam</option>
                          <option>Protestan</option>
                          <option>Katolik</option>
                          <option>Konghucu</option>
                          <option>Hindu</option>
                          <option>Budha</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Gendre</label>
                        <select class="form-control" v-model="gendre">
                          <option disabled value="">Please select one</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Health</label>
                        <select class="form-control" v-model="health">
                          <option disabled value="">Please select one</option>
                          <option>Bad</option>
                          <option>Good</option>
                        </select>
                      </div>

                      <input
                        type="submit"
                        value="Log In"
                        class="btn btn-pill text-white btn-block btn-primary"
                      />
                      <router-link
                        to="/"
                        class="d-block text-center my-4 text-muted"
                      >
                        Back</router-link
                      >
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// import bcrypt from "bcryptjs";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "Register",
  components: {
    DatePicker,
  },

  data() {
    return {
      birthDate: null,
    };
  },

  created() {
    this.handleSubmit();
  },

  methods: {
    // post person/user

    async handleSubmit() {
      try {
        if (this.password == this.confrm_password) {
          // const response_email = axios.get(`person/email/${this.email}`);
          // console.log(this.email);
          // if (response_email.length !== 0) {
          await axios.post("/register", {
            namePerson: this.namePerson,
            email: this.email,
            password: this.password,
            birthPlace: this.birthPlace,
            birthDate: this.birthDate,
            gendre: this.gendre,
            religion: this.religion,
            health: this.health,
          });
          // console.log(response_email.length);
          this.$swal("Success", "Registered Data", "OK");
          this.$router.push("/");
          // } else {
          //   this.$swal("Error", "Email Already Exists", "OK");
          // }
        } else {
          this.$swal("Error", "Confirm Password is Wrong", "OK");
        }
      } catch (err) {
        // this.$swal("Error", "Email Already Exists", "OK");
      }
    },

    disabledDate(date) {
      const today = new Date();
      return date > today;
    },
  },
};
</script>

<style lang="stylus" scoped></style>