<template>
  <div id="addProject">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data Profile -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">Add Project</h5>
              </div>

              <div class="card-body">
                <form @submit.prevent="handleSubmit">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Project Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Project Name.."
                          required
                          v-model="project.nameProject"
                        />
                      </div>
                      <div class="form-group">
                        <label>Customer</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Customer.."
                          required
                          v-model="project.customer"
                        />
                      </div>
                      <!-- <div class="form-group">
                        <label>Priod From </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            :disabled-date="disabledDate"
                            placeholder="Priod From.."
                            required
                            v-model="project.priodFrom"
                          ></date-picker>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Priod To </label>
                        <div>
                          <date-picker
                            class="form-control"
                            lang="en"
                            type="month"
                            format="MM-YYYY"
                            placeholder="Priod To.."
                            required
                            v-model="project.priodTo"
                          ></date-picker>
                        </div>
                      </div> -->
                      <div class="form-group">
                        <label>Project Desc</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Desc.."
                          required
                          v-model="project.descProject"
                        />
                      </div>
                      <div class="form-group">
                        <label>Technical Info</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Info.."
                          required
                          v-model="project.technicalInfo"
                        />
                      </div>
                      <div class="form-group">
                        <label>App Type</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="App Type.."
                          v-model="project.appType"
                        />
                      </div>
                      <div class="form-group">
                        <label>Server OS</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Server OS.."
                          v-model="project.serverOs"
                        />
                      </div>
                      <div class="form-group">
                        <label>Database</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Database.."
                          v-model="project.database"
                        />
                      </div>
                      <div class="form-group">
                        <label>App Server</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="App Server.."
                          v-model="project.appServer"
                        />
                      </div>
                      <div class="form-group">
                        <label>Framework</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Framework.."
                          v-model="project.framework"
                        />
                      </div>
                      <div class="form-group">
                        <label>Dev Tools</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Dev Tools.."
                          v-model="project.devTool"
                        />
                      </div>
                      <div class="form-group">
                        <label>Dev Language</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Dev Language.."
                          v-model="project.devLanguage"
                        />
                      </div>
                      <div class="form-group">
                        <label>Other Info</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Other Info.."
                          v-model="project.otherInfo"
                        />
                      </div>

                      <div class="form-group">
                        <input
                          type="hidden"
                          class="form-control"
                          placeholder="Description.."
                          v-model="project.idPerson"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
// import DatePicker from "vue2-datepicker";
// import "vue2-datepicker/index.css";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "addProject",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // DatePicker,
    // Person,
  },
  data() {
    return {
      project: {
        idPerson: "",
        nameProject: "",
        customer: "",
        // priodFrom: "",
        // priodTo: "",
        descProject: "",
        technicalInfo: "",
        appType: "",
        serverOs: "",
        database: "",
        appServer: "",
        framework: "",
        devTool: "",
        devLanguage: "",
        otherInfo: "",
      },
    };
  },

  created() {
    this.handleSubmit();
    this.mounted();
  },

  methods: {
    async mounted() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      this.project.idPerson = idPerson;
      // console.log("id", this.project.idPerson);
    },

    async handleSubmit() {
      try {
        const response = await axios.post("project/add", {
          idPerson: this.project.idPerson,
          nameProject: this.project.nameProject,
          customer: this.project.customer,
          // priodFrom: this.project.priodFrom,
          // priodTo: this.project.priodTo,
          descProject: this.project.descProject,
          technicalInfo: this.project.technicalInfo,
          appType: this.project.appType,
          serverOs: this.project.serverOs,
          database: this.project.database,
          appServer: this.project.appServer,
          framework: this.project.framework,
          devTool: this.project.devTool,
          devLanguage: this.project.devLanguage,
          otherInfo: this.project.otherInfo,
        });
        console.log(response);
        (this.idPerson = ""),
          (this.nameProject = ""),
          (this.customer = ""),
          // (this.priodFrom = ""),
          // (this.priodTo = ""),
          (this.descProject = ""),
          (this.technicalInfo = ""),
          (this.appType = ""),
          (this.serverOs = ""),
          (this.database = ""),
          (this.appServer = ""),
          (this.framework = ""),
          (this.devTool = ""),
          (this.devLanguage = ""),
          (this.otherInfo = ""),
          this.$swal("Success", "Data Added", "OK");
        this.$router.push("/project/view");
      } catch (err) {
        console.log(err);
      }
    },

    // disabledDate(date) {
    //   const today = new Date();
    //   return date > today;
    // },
  },
};
</script>
<style lang="stylus" scoped></style>