<template>
  <div id="viewProject">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Profile -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">PROJECT</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addProject' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>

                <table
                  class="table"
                  border="1"
                  v-for="item in itemsProject"
                  :key="item.idProject"
                >
                  <tbody>
                    <tr>
                      <td><b>Project Name</b></td>
                      <td colspan="3">{{ item.nameProject }}</td>
                    </tr>
                    <tr>
                      <td><b>Role</b></td>
                      <td colspan="2">
                        <div
                          v-for="role in item.ProjectRoles"
                          :key="role.idRole"
                        >
                          {{ role.Role.nameRole }},
                        </div>
                      </td>
                      <td>
                        <router-link
                          :to="{
                            name: 'viewProjectRole',
                            params: { id: item.idProject },
                          }"
                          class="float-right btn btn-success btn-sm"
                          ><i class="fas fa-plus">
                            Add Role Project</i
                          ></router-link
                        >
                      </td>
                    </tr>
                    <!-- <tr>
                      <td><b>Priod</b></td>
                      <td colspan="2">
                        <b>From :</b> {{ item.priodFrom | moment("MMMM YYYY") }}
                      </td>
                      <td
                        v-if="
                          item.priodTo === '0000-00-00' || item.priodTo == NULL
                        "
                      >
                        <b>To :</b> Current
                      </td>
                      <td v-else>
                        <b>To :</b> {{ item.priodTo | moment("MMMM YYYY") }}
                      </td>
                    </tr> -->
                    <tr>
                      <td><b>Customer</b></td>
                      <td colspan="3">{{ item.customer }}</td>
                    </tr>
                    <tr>
                      <td><b>Project Desc</b></td>
                      <td colspan="3">{{ item.descProject }}</td>
                    </tr>
                    <tr>
                      <td><b>Technical Info</b></td>
                      <td colspan="3">{{ item.technicalInfo }}</td>
                    </tr>
                    <tr>
                      <td><b>App Type</b></td>
                      <td>{{ item.appType }}</td>
                      <td><b>Dev Language</b></td>
                      <td>{{ item.devLanguage }}</td>
                    </tr>
                    <tr>
                      <td><b>Server OS</b></td>
                      <td>{{ item.serverOs }}</td>
                      <td><b>Framework</b></td>
                      <td>{{ item.framework }}</td>
                    </tr>
                    <tr>
                      <td><b>DB</b></td>
                      <td>{{ item.database }}</td>
                      <td><b>Dev Tools</b></td>
                      <td>{{ item.devTool }}</td>
                    </tr>
                    <tr>
                      <td><b>App Server</b></td>
                      <td>{{ item.appServer }}</td>
                      <td><b>Other Info</b></td>
                      <td>{{ item.otherInfo }}</td>
                    </tr>
                    <tr>
                      <td colspan="4">
                        <router-link
                          :to="{
                            name: 'updateProject',
                            params: { id: item.idProject },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteProject(item.idProject)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewProject",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsProject: [],
    };
  },

  created() {
    this.viewProject();
  },

  methods: {
    // get Profile
    async viewProject() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`project/nested/${idPerson}`);
        this.itemsProject = response.data.values;
        console.log("Project ", response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Project
    async deleteProject(idProject) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`project/delete/${idProject}`);
          // console.log(this.idProject);
          this.viewProject();
          this.$swal("Success", "Delete", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>
