<template>
  <div id="viewProfile">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- data Profile -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">PROFILE</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title float-right">
                  <router-link
                    :to="{ name: 'addProfile' }"
                    class="float-right btn btn-primary btn-sm"
                    ><i class="fas fa-plus"> Add</i></router-link
                  >
                </h5>

                <table class="table">
                  <tbody>
                    <tr v-for="item in itemsProfile" :key="item.idProfile">
                      <td>*</td>
                      <td>{{ item.descProfile }}</td>
                      <td>
                        <router-link
                          :to="{
                            name: 'updateProfile',
                            params: { id: item.idProfile },
                          }"
                          class="btn btn-info btn-sm mr-3"
                          ><i class="fas fa-edit"></i
                        ></router-link>
                        <button
                          class="btn btn-danger btn-sm"
                          @click="deleteProfile(item.idProfile)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- end data-->
          </div>
          <!-- <Person /> -->
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./../layout/Navbar.vue";
import Sidebar from "./../layout/Sidebar.vue";
import Footer from "./../layout/Footer.vue";
// import Person from "./../layout/Person.vue";

export default {
  name: "viewProfile",
  components: {
    Navbar,
    Sidebar,
    Footer,
    // Person,
  },
  data() {
    return {
      itemsProfile: [],
    };
  },

  created() {
    this.viewProfile();
  },

  methods: {
    // get Profile
    async viewProfile() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`profile/${idPerson}`);
        this.itemsProfile = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Profile
    async deleteProfile(idProfile) {
      try {
        if (confirm("Are you sure ?")) {
          await axios.delete(`Profile/delete/${idProfile}`);
          // console.log(this.idProfile);
          this.viewProfile();
          this.$swal("Success", "Deleted Data", "OK");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>