<template>
  <div id="home">
    <Sidebar />
    <div class="main-panel" id="main-panel">
      <Navbar />

      <div class="panel-header panel-header-sm"></div>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <!-- data objective -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">A. OBJECTIVE</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr v-for="item in itemsObjective" :key="item.idObjective">
                      <td>{{ item.descObjective }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- data Profil -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">B. PROFILE</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr v-for="item in itemsProfile" :key="item.idProfile">
                      <td>*</td>
                      <td>{{ item.descProfile }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Data Education -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">C. EDUCATION</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead class="text-primary">
                    <th>No</th>
                    <th>School</th>
                    <th>Degree</th>
                    <th>Subject</th>
                    <th>From</th>
                    <th>To</th>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, no) in itemsEducation"
                      :key="item.idEducation"
                    >
                      <td>{{ no + 1 }}</td>
                      <td>{{ item.school }}</td>
                      <td>{{ item.degree }}</td>
                      <td>{{ item.subject }}</td>
                      <td>{{ item.priodFrom | moment("YYYY") }}</td>
                      <td
                        v-if="
                          item.priodTo === '0000-00-00' || item.priodTo == NULL
                        "
                      >
                        Present
                      </td>
                      <td v-else>{{ item.priodTo | moment("YYYY") }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Data Course -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">D. COURSE,TRAINING</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead class="text-primary">
                    <th>No</th>
                    <th>Title</th>
                    <th>Provider</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Certificate</th>
                  </thead>
                  <tbody>
                    <tr v-for="(item, no) in itemsCourse" :key="item.idCourse">
                      <td>{{ no + 1 }}</td>
                      <td>{{ item.titleCourse }}</td>
                      <td>{{ item.providerCourse }}</td>
                      <td>{{ item.placeCourse }}</td>
                      <td>{{ item.dateCourse | moment("DD MMMM YYYY") }}</td>
                      <td>{{ item.durationCourse }} Days</td>
                      <td>{{ item.certificateCourse }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Data Role / Relevan -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">
                  E. RELEVANT EXPERIENCE & ACCOMPLISHMENT
                </h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <tbody v-for="item in itemsRole" :key="item.idRole">
                    <tr>
                      <td>
                        <b>[ {{ item.nameRole }} ]</b>
                      </td>
                    </tr>
                    <tr>
                      <td>* {{ item.descRole }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Data Employment -->
            <div class="card">
              <div class="card-header">
                <h5 class="title float-right">F. EMPLOYMENT</h5>
              </div>
              <!-- Data Company -->
              <div class="card">
                <div class="card-header">
                  <h5 class="title float-right">F.1 Company</h5>
                </div>
                <div class="card-body">
                  <table class="table">
                    <tbody
                      v-for="(item, no) in itemsCompany"
                      :key="item.idCompany"
                    >
                      <tr>
                        <td colspan="2">
                          <b>Name :</b> {{ item.nameCompany }}
                        </td>
                        <td class="text-right">
                          <b>C{{ itemsCompany.length + 1 - (no + 1) }}</b>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <b>Priod From :</b>
                          {{ item.priodFrom | moment("MMMM YYYY") }}
                        </td>
                        <td
                          v-if="
                            item.priodTo === '0000-00-00' ||
                            item.priodTo == NULL
                          "
                        >
                          <b> To :</b> Present
                        </td>
                        <td v-else>
                          <b>To :</b> {{ item.priodTo | moment("MMMM YYYY") }}
                        </td>
                        <td>
                          <b>Current Role :</b>
                          <div
                            v-for="role in item.CompanyRoles"
                            :key="role.idRole"
                          >
                            {{ role.Role.nameRole }},
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Data Project -->
              <div class="card">
                <div class="card-header">
                  <h5 class="title float-right">F.2 Project</h5>
                </div>
                <div class="card-body">
                  <table
                    class="table"
                    border="1"
                    v-for="(item, no) in itemsProject"
                    :key="item.idProject"
                  >
                    <tbody>
                      <tr>
                        <td><b>Project Name</b></td>
                        <td colspan="2">{{ item.Project.nameProject }}</td>
                        <td class="text-right">
                          <b>P{{ itemsProject.length + 1 - (no + 1) }}</b>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Role</b></td>
                        <td colspan="3">
                          <div
                            v-for="role in item.Project.ProjectRoles"
                            :key="role.idRole"
                          >
                            {{ role.Role.nameRole }},
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><b>Priod</b></td>
                        <td colspan="2">
                          <b>From :</b>
                          {{ item.priodFrom | moment("MMMM YYYY") }}
                        </td>
                        <td
                          v-if="
                            item.priodTo === '0000-00-00' ||
                            item.priodTo == NULL
                          "
                        >
                          <b>To :</b> Present
                        </td>
                        <td v-else>
                          <b>To :</b> {{ item.priodTo | moment("MMMM YYYY") }}
                        </td>
                      </tr>
                      <tr>
                        <td><b>Customer</b></td>
                        <td colspan="3">{{ item.Project.customer }}</td>
                      </tr>
                      <tr>
                        <td><b>Project Desc</b></td>
                        <td colspan="3">{{ item.Project.descProject }}</td>
                      </tr>
                      <tr>
                        <td><b>Technical Info</b></td>
                        <td colspan="3">{{ item.Project.technicalInfo }}</td>
                      </tr>
                      <tr>
                        <td><b>App Type</b></td>
                        <td>{{ item.Project.appType }}</td>
                        <td><b>Dev Language</b></td>
                        <td>{{ item.Project.devLanguage }}</td>
                      </tr>
                      <tr>
                        <td><b>Server OS</b></td>
                        <td>{{ item.Project.serverOs }}</td>
                        <td><b>Framework</b></td>
                        <td>{{ item.Project.framework }}</td>
                      </tr>
                      <tr>
                        <td><b>DB</b></td>
                        <td>{{ item.Project.database }}</td>
                        <td><b>Dev Tools</b></td>
                        <td>{{ item.Project.devTool }}</td>
                      </tr>
                      <tr>
                        <td><b>App Server</b></td>
                        <td>{{ item.Project.appServer }}</td>
                        <td><b>Other Info</b></td>
                        <td>{{ item.Project.otherInfo }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end employee -->
            </div>

            <!-- end data-->
          </div>
          <Person />
        </div>
      </div>

      <Footer />
    </div>
  </div>
</template>

<script>
// import axios
import axios from "axios";
import jwt_decode from "jwt-decode";
import Navbar from "./layout/Navbar.vue";
import Sidebar from "./layout/Sidebar.vue";
import Footer from "./layout/Footer.vue";
import Person from "./layout/Person.vue";

export default {
  name: "home",
  components: {
    Navbar,
    Sidebar,
    Footer,
    Person,
  },
  data() {
    return {
      itemsObjective: [],
      itemsProfile: [],
      itemsEducation: [],
      itemsCourse: [],
      itemsCompany: [],
      itemsProject: [],
      itemsRole: [],
    };
  },

  created() {
    this.viewObjective();
    this.viewProfile();
    this.viewEducation();
    this.viewCourse();
    this.viewCompany();
    this.viewProject();
    this.viewRole();
  },

  methods: {
    // Get objective
    async viewObjective() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`objective/${idPerson}`);
        this.itemsObjective = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // get Profile
    async viewProfile() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`profile/${idPerson}`);
        this.itemsProfile = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // get Education
    async viewEducation() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`Education/${idPerson}`);
        this.itemsEducation = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // get Course
    async viewCourse() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`Course/${idPerson}`);
        this.itemsCourse = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // Get Role
    async viewRole() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`role/${idPerson}`);
        this.itemsRole = response.data.values;
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },

    // get Company
    async viewCompany() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`company/nested/${idPerson}`);
        this.itemsCompany = response.data.values;
        console.log("company", response.data.values[0].CompanyRoles);
      } catch (err) {
        console.log(err);
      }
    },
    // get Project
    async viewProject() {
      const token = localStorage.getItem("token");
      const decoded = jwt_decode(token);
      let idPerson = decoded.idPerson;
      try {
        const response = await axios.get(`project-periode/${idPerson}`);
        this.itemsProject = response.data.values;
        console.log("Project ", response);
      } catch (err) {
        console.log(err);
      }
    },

    // Download CV
    generateDocx() {
      if (confirm("Are you sure download this file ?")) {
        axios({
          url: "generatedocx",
          method: "GET",
          responseType: "blob", // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", "My Document222.docx"); //or any other extension
          document.body.appendChild(link);
          link.click();
        });
      }
    },
  },
};
</script>
<style lang="stylus" scoped></style>